.container{
    // width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    @media #{$maxMobile}{
      width: 320px;
    }
    @media #{$minSmall} {
      width: 750px;
    }
    @media #{$minMedium} {
      width: 970px;
    }
    @media #{$minlarg} {
      width: 1170px;
    }
   
  }
  