.btn {
  background-color: $projectcolor;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #fff;
  padding: 10px;
  transition: 0.8s;
  text-transform: uppercase;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid $maincolor;
  color: #fff;
}
.btn-1 {
  background-color: transparent;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #fff;
  border: 1px solid $maincolor;
  padding: 10px;
  transition: 0.8s;
  text-transform: uppercase;


}
.btn-1:hover {
  background-color: $projectcolor;
  color: #fff;
  border: none;
  text-decoration: none;

}
.btn-2{
  background-color: $projectcolor;
  border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  padding: 10px 30px;
  transition: 0.8s;
  text-transform: uppercase;

}
.btn-2:hover {
  background-color:transparent;
  color: $projectcolor;
  border: none;
  text-decoration: none;

}
.btn-3{
  border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  padding: 10px 30px;
  transition: 0.6s;
  text-transform: uppercase;
  border: 1px solid #fff;
  &:hover{
   
      background-color:transparent;
      color: $projectcolor;
      border: none;
      text-decoration: none;
      border: 1px solid $projectcolor;

  
}
}